@media screen and (max-width: 1000px) {
.background {
    background: url(Images/background.jpg) 50% 15% no-repeat;
    background-attachment: fixed;
    background-size: 1000px, auto;
}
}

@media screen and (min-width: 1000px) {
.background {
    background: url(Images/background.jpg) 50% 15% no-repeat;
    background-attachment: fixed;
    background-size: 100%, auto;
}
}

@media screen and (min-width: 1150px) {
    .leftcolumn_pc {
        display: show;
    }
    .rightcolumn_pc {
        display: show;
    }
    .centercolumn_pc {
        display: show;
    }
    .headcontainer_pc {
        display: show;
    }
    .leftcolumn_mobile {
        display: none;
    }
    .leftcolumn_mobilexs {
        display: none;
    }
    .rightcolumn_mobile {
        display: none;
    }
    .rightcolumn_mobilexs {
        display: none;
    }
    .centercolumn_mobile {
        display: none;
    }
    .headcontainer_mobile {
        display: none;
    }
    .headcontainer_mobilexs {
        display: none;
    }
    .leftcolumn {
        width: 240px;;
    }
    .rightcolumn {
        width: 240px;;
    }
    .centercolumn {
        width: 600px;;
    }
}

@media screen and (min-width: 910px) and (max-width: 1149px) {
    .leftcolumn_pc {
        display: none;
    }
    .rightcolumn_pc {
        display: none;
    }
    .centercolumn_pc {
        display: show;
    }
    .headcontainer_pc {
        display: none;
    }
    .leftcolumn_mobile {
        display: show;
    }
    .leftcolumn_mobilexs {
        display: none;
    }
    .rightcolumn_mobile {
        display: show;
    }
    .rightcolumn_mobilexs {
        display: none;
    }
    .centercolumn_mobile {
        display: none;
    }
    .headcontainer_mobile {
        display: show;
    }
    .headcontainer_mobilexs {
        display: none;
    }
    .leftcolumn {
        width: 120px;;
    }
    .rightcolumn {
        width: 120px;;
    }
    .centercolumn {
        width: 600px;;
    }
}

@media screen and (max-width: 909px) {
    .leftcolumn_pc {
        display: none;
    }
    .rightcolumn_pc {
        display: none;
    }
    .centercolumn_pc {
        display: none;
    }
    .headcontainer_pc {
        display: none;
    }
    .leftcolumn_mobile {
        display: none;
    }
    .leftcolumn_mobilexs {
        display: show;
    }
    .rightcolumn_mobile {
        display: none;
    }
    .rightcolumn_mobilexs {
        display: show;
    }
    .centercolumn_mobile {
        display: show;
    }
    .headcontainer_mobile {
        display: none;
    }
    .headcontainer_mobilexs {
        display: show;
    }
    .leftcolumn {
        width: 80px;;
    }
    .rightcolumn {
        width: 80px;;
    }
    .centercolumn {
        width: 300px;;
    }
}

.game, .startscreen {
    box-sizing: border-box;
    justify-content: center;
}

#NewGame, #NewGame2, #LoadGame {
    box-sizing: border-box;
	height: 40px;
    width: 120px;
	background: #777;
    border: 0px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    text-align: center;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    margin: 10px;
}

.headcontainer {
    box-sizing: border-box;
    display: flex; /* using flexbox to align items */
    flex-wrap: nowrap; /* to force items on multiple lines */
    justify-content: center;
    margin-top: 10px;
}

.gametitle {
    box-sizing: border-box;
    flex: 0 1 1110px;
    height: 50px;
    font-family: Arial;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.gamecontainer {
    box-sizing: border-box;
    display: flex; /* using flexbox to align items */
    flex-wrap: wrap; /* to force items on multiple lines */
    justify-content: center;
}

.leftcolumn {
    box-sizing: border-box;
    display: inline-flex; /* using flexbox to align items */
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.select {
    box-sizing: border-box;
    width: 240px;
	height: 30px;
	background: #9f9f9f;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

.select_shopping, .select_style {
    box-sizing: border-box;
    width: 315px;
	height: 30px;
	background: #9f9f9f;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

.select_style_mobile {
    box-sizing: border-box;
    width: 157.5px;
	height: 30px;
	background: #9f9f9f;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

.selectsub {
    box-sizing: border-box;
    width: 240px;
	height: 40px;
	background: #9f9f9f;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#ButtonBonsaiA_mobilexs, #ButtonBonsaiB_mobilexs, #ButtonBonsaiC_mobilexs, #ButtonBonsaiD_mobilexs, #ButtonBonsaiE_mobilexs, #ButtonBonsaiF_mobilexs, #ButtonBonsaiG_mobilexs, #ButtonBonsaiH_mobilexs, #ButtonBonsaiI_mobilexs, #ButtonBonsaiJ_mobilexs {
    box-sizing: border-box;
    width: 40px;
	height: 40px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none.svg);
    background-size: 40px, 40px;
    border: 0px;
    font-family: Arial;
    font-size: 8px;
    cursor: pointer;
}

#ButtonBonsaiA_mobile, #ButtonBonsaiB_mobile, #ButtonBonsaiC_mobile, #ButtonBonsaiD_mobile, #ButtonBonsaiE_mobile, #ButtonBonsaiF_mobile, #ButtonBonsaiG_mobile, #ButtonBonsaiH_mobile, #ButtonBonsaiI_mobile, #ButtonBonsaiJ_mobile {
    box-sizing: border-box;
    width: 60px;
	height: 60px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none.svg);
    background-size: 60px, 60px;
    border: 0px;
    font-family: Arial;
    font-size: 8px;
    cursor: pointer;
}

#ButtonBonsaiA, #ButtonBonsaiB, #ButtonBonsaiC, #ButtonBonsaiD, #ButtonBonsaiE, #ButtonBonsaiF, #ButtonBonsaiG, #ButtonBonsaiH, #ButtonBonsaiI, #ButtonBonsaiJ{
    box-sizing: border-box;
    width: 120px;
	height: 120px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none.svg);
    background-size: 120px, 120px;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
    cursor: pointer;
}

.centercolumn {
    box-sizing: border-box;
    display: inline-flex; /* using flexbox to align items */
    flex-direction: column;
    align-items: center;
}

#ButtonNavigationBonDex, #ButtonNavigationLearn, #ButtonNavigationTasks, #ButtonNavigationExpedition, #ButtonNavigationCraft, #ButtonNavigationShop, #ButtonNavigationOptions, #ButtonNavigationAchievements {
    box-sizing: border-box;
    width: 136.25px;
	height: 30px;
	background: #777;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#ButtonNavigationBonDex_mobile, #ButtonNavigationLearn_mobile, #ButtonNavigationTasks_mobile, #ButtonNavigationExpedition_mobile, #ButtonNavigationCraft_mobile, #ButtonNavigationShop_mobile, #ButtonNavigationOptions_mobile, #ButtonNavigationAchievements_mobile {
    box-sizing: border-box;
    width: 106.25px;
	height: 30px;
	background: #777;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#ButtonNavigationBonDex_mobilexs, #ButtonNavigationLearn_mobilexs, #ButtonNavigationTasks_mobilexs, #ButtonNavigationExpedition_mobilexs, #ButtonNavigationCraft_mobilexs, #ButtonNavigationShop_mobilexs, #ButtonNavigationOptions_mobilexs, #ButtonNavigationAchievements_mobilexs {
    box-sizing: border-box;
    width: 58.75px;
	height: 30px;
	background: #777;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

.Field {
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    padding-left: 10px;
    text-align: left;
    font-family: Arial;
    font-size: 15px;
}

#Button {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#ButtonT000, #ButtonT001, #ButtonT002, #ButtonT003, #ButtonT004, #ButtonT005, #ButtonT006, #ButtonT007, #ButtonT008, #ButtonT009, #ButtonT010, #ButtonT011, #ButtonT012, #ButtonT013, #ButtonT014 {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#T000, #T000C, #T001, #T001C, #T002, #T002C, #T003, #T003C, #T004, #T004C, #T005, #T005C, #T006, #T006C, #T007, #T007C, #T008, #T008C, #T009, #T009C, #T010, #T010C, #T011, #T011C, #T012, #T012C, #T013, #T013C, #T014, #T014C {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#Craft_Compost, #Craft_Robot {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#Button_Skill_Robot, #Button_Skill_Compost, #Button_Skill_Growing, #Button_Skill_Shaping, #Button_Skill_Patience {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#Skill_Robot, #Skill_Robot_Learned, #Skill_Compost, #Skill_Compost_Learned, #Skill_Growing, #Skill_Growing_Learned, #Skill_Shaping, #Skill_Shaping_Learned, #Skill_Patience, #Skill_Patience_Learned {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

#ChangePosition {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

.tasks {
    display:show;
    box-sizing: border-box;
    width: 100%;
    height: auto;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.expedition {
    display:none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.crafting {
    display:none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.learning {
    display:none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shopping {
    display:none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bonsai_details {
    display:none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bonsai_details_seedling {
    display:none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.center_content {
    box-sizing: border-box;
    display: flex; /* using flexbox to align items */
    flex-wrap: wrap; /* to force items on multiple lines */
    justify-content: center;
    align-items: flex-start;
    width: 600px; /* Could be more or less, depending on screen size */
    height: auto;
    font-family: Arial;
    font-size: 15px;
}

.center_content_mobile {
    box-sizing: border-box;
    display: flex; /* using flexbox to align items */
    flex-wrap: wrap; /* to force items on multiple lines */
    justify-content: center;
    align-items: flex-start;
    width: 300px; /* Could be more or less, depending on screen size */
    height: auto;
    font-family: Arial;
    font-size: 15px;
}

#Button_Grow, #Button_Grow2, #Button_Compost2, #Button_Grow3, #Button_Compost3, #Button_Fertilizer3 {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

.centercolumn_left {
    box-sizing: border-box;
    width: 280px; /* Could be more or less, depending on screen size */
    height: auto;
    justify-content: center;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap; /* to force items on multiple lines */
    margin-right: 2.5px;
}

.centercolumn_left_mobile {
    box-sizing: border-box;
    width: 140px; /* Could be more or less, depending on screen size */
    height: auto;
    justify-content: center;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap; /* to force items on multiple lines */
    margin-right: 1.25px;
}

.centercolumn_right {
    box-sizing: border-box;
    width: 315px; /* Could be more or less, depending on screen size */
    height: auto;
    justify-content: center;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap; /* to force items on multiple lines */
    margin-left: 2.5px;
}

.centercolumn_right_mobile {
    box-sizing: border-box;
    width: 157.5px; /* Could be more or less, depending on screen size */
    height: auto;
    justify-content: center;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap; /* to force items on multiple lines */
    margin-left: 1.25px;
}

.rightcolumn {
    box-sizing: border-box;
    display: inline-flex; /* using flexbox to align items */
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#seedlinga_right_mobilexs, #seedlingb_right_mobilexs, #seedlingc_right_mobilexs, #seedlingd_right_mobilexs, #seedlinge_right_mobilexs, #seedlingf_right_mobilexs {
    box-sizing: border-box;
    width: 40px;
	height: 40px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none_small.svg);
    background-size: 40px, 40px;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seedlinga_right_mobile, #seedlingb_right_mobile, #seedlingc_right_mobile, #seedlingd_right_mobile, #seedlinge_right_mobile, #seedlingf_right_mobile {
    box-sizing: border-box;
    width: 40px;
	height: 40px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none_small.svg);
    background-size: 40px, 40px;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seedlinga_right, #seedlingb_right, #seedlingc_right, #seedlingd_right, #seedlinge_right, #seedlingf_right {
    box-sizing: border-box;
    width: 80px;
	height: 80px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none_small.svg);
    background-size: 80px, 80px;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seedlinga_center, #seedlingb_center, #seedlingc_center, #seedlingd_center, #seedlinge_center, #seedlingf_center {
    box-sizing: border-box;
    width: 105px;
	height: 105px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none.svg);
    background-size: 105px, 105px;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;
}

#seedlinga_center_mobile, #seedlingb_center_mobile, #seedlingc_center_mobile, #seedlingd_center_mobile, #seedlinge_center_mobile, #seedlingf_center_mobile {
    box-sizing: border-box;
    width: 78.75px;
	height: 78.75px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none.svg);
    background-size: 78.75px, 78.75px;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;
}

/* Collapsible Menus Container*/
.rightcolumn_content2 {
    box-sizing: border-box;
    width: 240px;
    background-color: #f1f1f1;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* to force items on multiple lines */
}

.rightcolumn_content2_mobile {
    box-sizing: border-box;
    width: 120px;
    background-color: #f1f1f1;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* to force items on multiple lines */
}

.rightcolumn_content2_mobilexs {
    box-sizing: border-box;
    width: 80px;
    background-color: #f1f1f1;
	border: 0px;
    font-family: Arial;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* to force items on multiple lines */
}

/* Collapsible - Opened by default - START*/
/* Style the button that is used to open and close the collapsible content */
.collapsible_open {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    text-align: left;
    outline: none;
    font-family: Arial;
    font-size: 15px;
    height: 40px;
}

/* +/- Symbol for collapsible*/
.collapsible_open:after {
    content: '\2212';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\002B";
}

/* Background color when hover over the collapsible*/
.collapsible_open:hover {
  background-color: #555;
}

/* Style the collapsible content*/
.collapsible_open-content {
  max-height: 100%;
  overflow: hidden;
}

/* Style the collapsible content*/
.collapsible_open-content-shown-by-default {
  max-height: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* Collapsible - Opened by default - END*/

/* Collapsible Sub - Opened by default - START*/
/* Style the button that is used to open and close the collapsible content */
.collapsible_open_a {
    background-color: #9f9f9f;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    text-align: left;
    outline: none;
    font-family: Arial;
    font-size: 15px;
    height: 40px;
}

/* +/- Symbol for collapsible*/
.collapsible_open_a:after {
    content: '\2212';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\002B";
}

/* Background color when hover over the collapsible*/
.collapsible_open_a:hover {
  background-color: #777;
}

/* Style the collapsible content*/
.collapsible_open_a-content_a {
  max-height: 100%;
  overflow: hidden;
}

/* Style the collapsible content*/
.collapsible_open_a-content_a-shown-by-default {
  max-height: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* Collapsible Sub - Opened by default - END*/

/* Collapsible - Closed by default - START*/
/* Style the button that is used to open and close the collapsible content */
.collapsible_open2 {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    text-align: left;
    outline: none;
    font-family: Arial;
    font-size: 15px;
    height: 40px;
}

/* +/- Symbol for collapsible*/
.collapsible_open2:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active2:after {
    content: "\2212";
}

/* Background color when hover over the collapsible*/
.collapsible_open2:hover {
  background-color: #555;
}

/* Style the collapsible content*/
.collapsible_open2-content2 {
  max-height: 0%;
  overflow: hidden;
}

/* Style the collapsible content*/
.collapsible_open2-content2-shown-by-default {
  max-height: 0%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* Collapsible - Closed by default - END*/

/* Collapsible Sub - Closed by default - START*/
/* Style the button that is used to open and close the collapsible content */
.collapsible_open2_a {
    background-color: #9f9f9f;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    text-align: left;
    outline: none;
    font-family: Arial;
    font-size: 15px;
    height: 40px;
}

/* +/- Symbol for collapsible*/
.collapsible_open2_a:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active2:after {
    content: "\2212";
}

/* Background color when hover over the collapsible*/
.collapsible_open2_a:hover {
  background-color: #777;
}

/* Style the collapsible content*/
.collapsible_open2_a-content2_a {
  max-height: 0%;
  overflow: hidden;
}

/* Style the collapsible content*/
.collapsible_open2_a-content2_a-shown-by-default {
  max-height: 0%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* Collapsible Sub - Closed by default - END*/

.green:hover{
    background-color: #555  !important;
}

.darker_grey:hover{
    background-color: #bbb  !important;
}

.grey:hover{
    background-color: #777  !important;
}

.select:hover{
    background-color: #777  !important;
}

.selectsub:hover{
    background-color: #bbb  !important;
}

.edit {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

/* Edit Name Modal */
 /* The Modal (background) */
.modal_name, .modal_newgame, .modal_tutorial, .modal_position{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_name-content, .modal_newgame-content, .modal_tutorial-content, .modal_position-content {
    background-color: #f1f1f1;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    height: auto;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* to force items on multiple lines */
}

/* The Close Button */
.Button_Modal_Position_Class {
    box-sizing: border-box;
	height: 40px;
	background: #777;
    border: 0px;
    color: white;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

.Button_Modal_Position_Class:hover{
    background-color: #555  !important;
}

#BonsaiOld {
    box-sizing: border-box;
    width: 120px;
	height: 120px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none.svg);
    background-size: 120px, 120px;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
}

#BonsaiNew {
    box-sizing: border-box;
    width: 120px;
	height: 120px;
	background: #f1f1f1;
    background-image: url(Images/treequality/none.svg);
    background-size: 120px, 120px;
    border: 0px;
    font-family: Arial;
    font-size: 13px;
}


 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #777;
    color: #fff;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
    
.select2.select2-container .select2-selection {
    border: 0px solid #ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 30px;
    background: #d8d8d8;
    outline: none !important;
    transition: all .15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
    color: #555;
    line-height: 30px;
    padding-right: 33px;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
}
    
.select2.select2-container:hover .select2-selection:hover .select2-selection__rendered:hover {
    background-color: #bbb  !important;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    border-left: 0px solid #ccc;
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
    height: 29px;
    width: 25px;
}

.select2-results { 
    background: #d8d8d8;
    color: #555;
    font-family: Arial;
    font-size: 15px;
}
